<% layout("./layouts/boilerplate") %>
    <div class="row">
        <div class="alert alert-danger col-8 offset-2" role="alert">
            <p class="alert-heading text-center">
                <%=message%>
            </p>
            <% if(message=="Page not found!" ||  message=="Something went wrong!" ){%>
                <p class="alert-heading text-center">The link you followed may be broken, or the page may have been removed. Go back to <a href="/listing">TripEasy</a>.</p>
            <%}else if(message.substring(0,33)=="Cast to ObjectId failed for value"){%>
                <p class="alert-heading text-center">The link you followed may be broken, or the page may have been removed. Go back to <a href="/listing">TripEasy</a>.</p>
            <%}%>
        </div>
    </div>