<% layout("./layouts/boilerplate") %>
<body>
    <h1>Add Listings</h1>
    <form method="post" action="/listings">
        <input type="text" placeholder="Title" name="Listing[title]">
        <textarea name="Listing[description]"></textarea>
        <input type="text" placeholder="Image Url" name="Listing[image]">
        <input type="number" placeholder="Price" name="Listing[price]">
        <input type="text" placeholder="Location" name="Listing[location]">
        <input type="text" placeholder="Country" name="Listing[country]">
        <button>Submit</button>
    </form>
</body>