<% layout("./layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2>Create New Listing</h2>
            <br>
            <!--to remove browser's default settings/designs we use novalidate-->
            <!-- included a bootstrap class needs-validation to include bootstrap stying for the form validations -->
            <form method="post" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" placeholder="Enter title" name="Listing[title]" class="form-control" required>
                    <div class="valid-feedback">Valid-feedback</div>
                    <div class="invalid-feedback">Invalid-feedback</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="Listing[description]" class="form-control" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" placeholder="Enter Image Url" name="Listing[image]" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" placeholder="Enter price" name="Listing[price]" class="form-control" required>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" placeholder="Enter country" name="Listing[country]" class="form-control" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" placeholder="Enter location" name="Listing[location]" class="form-control" required>
                </div>
                <button class="btn btn-dark add-btn mt-3">Submit</button>
                <br><br><br>
            </form>
        </div>
    </div>